.sitter-swap-header {
  background-color: white;
  border-width: medium;
  border-color: blue;
  color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: space-between; 
}

.sitter-swap-logo {
  flex-direction: column;
  justify-content: flex-start;
}

.sitter-swap-header-menu {
  flex-direction: row;
  justify-content: flex-end;
}